.container_header {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_name_text {
  font-family: "vcr";
  font-size: 18px;
  color: var(--primary-yellow);
}

@media (min-width: 768px) {
  .header_name_text {
    font-size: 25px;
    letter-spacing: 1px;
  }
}
