.container_header {
  padding: 0 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.header_name_text {
  font-family: "vcr";
  font-size: 18px;
  color: #e6dd3b;
}

.container_social_media {
  height: 40px;
  width: 115px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .container_social_media {
    height: 40px;
    width: 135px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_name_text {
    font-family: "vcr";
    font-size: 25px;
    letter-spacing: 1px;
    color: #e6dd3b;
  }
}
