.greeting_presentation {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 55px);
  background-color: var(--black);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
  box-shadow: 5px 8px var(--default-box-shadow-color);
}

.container_image {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

.container_background_image {
  position: absolute;
}

.borderCircle {
  border-radius: 9999px;
}

.greeting_greetings_text {
  font-size: 2rem;
  font-family: "vcr";
  color: var(--primary-green);
  text-align: center;
}

.arrow_down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 5px solid var(--primary-yellow);
  animation: arrow-fade 2s infinite;
}

@keyframes arrow-fade {
  0% {
    border-top-color: rgba(230, 221, 59, 1);
  }
  50% {
    border-top-color: rgba(230, 221, 59, 0);
  }
  100% {
    border-top-color: rgba(230, 221, 59, 1);
  }
}

@media (min-width: 768px) {
  .greeting_presentation {
    justify-content: space-evenly;
    padding-top: 25px;
  }

  .down_indicator {
    height: 100px;
    display: flex;
    align-items: flex-end;
  }
}
