.container-experience {
  background-color: var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 5px 8px var(--default-box-shadow-color);
  min-height: 30vh;
}

.container-experience-title {
  width: 100%;
}

.container-experience-title span {
  font-family: "vcr";
  display: inline-block;
  font-size: 2em;
  margin: 0 0 30px 0;
  color: var(--primary-yellow);
}

.container-experience-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.experience-items {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 0 30px 0;
}

.experience-item-title-date .title {
  font-family: "vcr";
  font-size: 1em;
  font-weight: 300;
  color: var(--primary-green);
  width: 100%;
}

.experience-item-title-date .date {
  font-family: "vcr";
  font-size: 0.7em;
  font-weight: 300;
  color: var(--primary-green);
  width: 100%;
  opacity: 0.7;
}

.experience-items .role {
  font-family: "vcr";
  font-size: 0.7em;
  font-weight: 300;
  margin-left: 22px;
  color: var(--primary-yellow);
  width: 100%;
}

@media (min-width: 768px) {
  .container-experience-items {
    flex-wrap: wrap;
    flex-direction: row;
  }

  .experience-items {
    width: calc(50% - 15px);
  }
}

@media (min-width: 1024px) {
  .container-experience {
    flex-direction: row;
    align-items: flex-start;
  }

  .container-experience-title {
    width: 25%;
    text-align: center;
  }

  .container-experience-items {
    padding-top: 10px;
    width: 75%;
  }

  .experience-item-title-date .title {
    width: 50%;
  }
}
