.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  padding: 0 15px;
}

.top-bar {
  position: relative;
  width: 100vw;
  bottom: 50px;
}

.top-bar {
  height: 50px;
}

.title {
  opacity: 0.5;
}
/*  */

@media (min-width: 1024px) {
  .container-menu-burg {
    display: none;
  }
}

.menu {
  -webkit-tap-highlight-color: transparent;
  height: 30px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.hamburguer {
  position: relative;
  display: block;
  opacity: 0.5;
  background: #fff;
  width: 30px;
  height: 1px;
  transition: 0.5s ease-in-out;
  cursor: pointer;
}

.hamburguer:before,
.hamburguer:after {
  opacity: 1;
  background: #fff;
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: 0.5s ease-in-out;
}

.hamburguer:before {
  top: -9px;
}

.hamburguer:after {
  bottom: -9px;
}

.menu-hamburguer-input {
  display: none;
}

.menu-hamburguer-input:checked ~ label .hamburguer {
  transform: rotate(45deg);
}

.menu-hamburguer-input:checked ~ label .hamburguer:before {
  background-color: rebeccapurple;
  transform: rotate(90deg);
  top: 0;
}

.menu-hamburguer-input:checked ~ label .hamburguer:after {
  transform: rotate(90deg);
  bottom: 0;
}
