:root {
  /* project colors */
  --white: #fff;
  --black: #000;
  --background: #16141e;
  --primary-yellow: #e6dd3b;
  --primary-green: #29bb89;
  --secondary-green: #289672;
  --tertiary-green: #1e6f5c;
  --default-box-shadow-color: #88888812;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
  background-color: var(--background);
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

a {
  color: #0070f3;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

img {
  max-width: 100%;
  display: block;
}

p {
  font-family: "vcr";
}

@font-face {
  font-family: "vcr";
  src: local("vcr"),
    url("../assets/fonts/VCR_OSD_MONO_1.001.ttf") format("truetype");
}
