.about_me {
  background-color: var(--black);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 15px;
  position: relative;
  margin-bottom: 15px;
  box-shadow: 5px 8px var(--default-box-shadow-color);
  min-height: 30vh;
}

.container_about_me_title {
  width: 100%;
  z-index: 2;
}

.container_about_me_title span {
  font-family: "vcr";
  display: inline-block;
  font-size: 2em;
  margin: 0 0 30px 0;
  color: var(--primary-yellow);
}

.container_about_me_description {
  z-index: 2;
}

.container_about_me_description p {
  font-family: "vcr";
  font-size: 1em;
  font-weight: 300;
  margin: 0 0 30px 0;
  color: var(--primary-green);
}

.background_img {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  background-image: url("../../public/images/bg-about.svg");
  border-radius: 10px;
  background-position: top;
  z-index: 1;
  opacity: 0.3;
}

@media (min-width: 1024px) {
  .about_me {
    flex-direction: row;
    align-items: flex-start;
  }

  .container_about_me_title {
    width: 25%;
    text-align: center;
  }

  .container_about_me_description {
    padding-top: 10px;
    width: 75%;
  }
}
